header{
    text-align:left;
    background-color: #a0d2eb;
    color:#b92b27;
    border: solid;
    font-weight: bolder;
      
}

a{
    text-decoration: none;
    color: black
}

p{
    text-align: justify;
    font-weigiht:normal ;
    text-decoration:none ;
    font-size: 15px;
    font-family:sans-serif;
}

h2{
    text-align: center;
    border:solid;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace 'Courier New';
letter-spacing: 2.5px;
color: purple;
}

h3{
    text-decoration: solid;
    font-weight: normal;
    text-align: start;
    color:#b92b27 ;
    font-family: 'Lora', serif;
    text-decoration: dotted black underline;
letter-spacing: 1.5px;

}

#login{
    background-color: white;

}

#signup{
    background-color: #b92b27;
    color: white;
}


.post{
    text-justify: distribute-all-lines;
}


.image-text-container {
    text-align: center; /* Centers the content horizontally */
    margin: 20px; /* Adds some space around the container */
}

.image-text-container img {
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 150%; /* Ensures the image is responsive */
    height: auto; /* Maintains the aspect ratio */
}

.image-text-container .image-caption {
    margin-top: 10px; /* Adds space between the image and the text */
    font-size: 20px; /* Adjusts the font size */
    color: #333; /* Sets the text color */
}

.image-container {
    display: flex;
    justify-content: center; /* Centers the images horizontally */
    align-items: center; /* Centers the images vertically */
    gap: 50px; /* Adds space between the images */
    height: 20vh; /* Adjust the height as needed */
}

.image-container img {
    max-width: 150px; /* Adjust the size of the images */
    height: auto; /* Maintains the aspect ratio */
}
